node_modules
npm-debug.log
Dockerfile*
dist
.vscode
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.github
.vscode
.husky
.env*

docs

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions